<form class="card horizontal" (ngSubmit)="onSubmit()" [formGroup]="recoverForm">
    <div class="card-image">
        <img src="/assets/images/favicon.ico">
    </div>
    <div class="card-stacked">
        <div class="row">
            <br>
            <br>
            <div class="col s12">
                <div class="input-field">
                    <i class="material-icons prefix">mail_outline</i>
                    <input id="email" type="text" formControlName='email'>
                    <label for="email">Email</label>
                    <span *ngIf="verifyValid('email')" class="helper-text red-text">Email invalido</span>
                    <span *ngIf="verifyRequired('email')" class="helper-text red-text">Email necessário</span>
                </div>
            </div>

            <div class=" col s12 ">
                <button class="btn waves-effect waves-light right  blue darken-4 " type="submit " name="action ">
                Recuperar <i class="material-icons right ">send</i>
              </button>
            </div>
        </div>
        <br>
        <div class="row center mb-0" style="padding: .75rem;">
            <div class="col s12">
                <br> Ainda não tenho cadastro? <span><a routerLink="/register">Registre-se</a></span>
            </div>
        </div>
    </div>
</form>