<div class="row vertical-center" style="height: 90vh;">
    <div class="col s12 center">
        <div class="preloader-wrapper active" style="height: 200px; width: 200px;">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>