.pcoded-inner-content {
    padding: 0;
}

.pcoded-inner-content .page-wrapper {
    padding: 0;
}

.main-body .page-wrapper .page-header {
    margin-bottom: 0;
}

.page-header {
    margin-bottom: 0;
    min-height: 60%;
}

.page-body {
    background: #111;
    padding: 1.5rem;
}

.featured {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
}

.featured--vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured--horizontal .container {
    margin-top: 20px;
}

.featured--name {
    font-size: 60px;
    font-weight: bold;
    color: #d1cccc;
    text-align: left;
}

.featured--info {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    display: flex;
}

.featured--points,
.feature--year {
    display: inline-block;
    margin-right: 15px;
}

.featured--points {
    color: #46d369
}

.featured--description {
    margin-top: 15px;
    font-size: 20px;
    color: #f0f0f0;
    max-width: 70%;
    text-align: left;
}

.featured--buttons {
    margin-top: 15px;
}

.featured--mylistbutton,
.featured--watchbutton {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.2s;
}

.featured--mylistbutton:hover,
.featured--watchbutton:hover {
    opacity: 0.7;
}

.featured--watchbutton {
    background-color: #fff;
    color: #000;
}

.featured--mylistbutton {
    background-color: #333;
    color: #fff;
}

.featured--genres {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}

@media (max-width:760px) {
    .featured--name {
        font-size: 40px;
    }
    .featured--info {
        font-size: 16px;
    }
    .featured--description {
        font-size: 14px;
        max-width: 100%;
        margin-right: 30px;
    }
    .featured--mylistbutton,
    .featured--watchbutton {
        font-size: 10px;
    }
    .featured--genres {
        font-size: 14px;
    }
}