<div class="row">
    <div class="col s12">
        <a class="waves-effect waves-light btn-small right" routerLink="/movie/new">
            <i class="material-icons left">add</i>Cadastrar produto
        </a>
    </div>
</div>
<table class="striped highlight">
    <thead>
        <tr>
            <th class="hide-on-med-and-down">Foto</th>
            <th>Nome</th>
            <th class="hide-on-med-and-down">Descrição</th>
            <th>Preço</th>
            <th class="hide-on-med-and-down">Criado em</th>
            <th class="center">Ações</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="row" style="position: absolute; bottom: 0;">
    <div class="col s12">
        <ul class="pagination center">
            <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a>1</a></li>
            <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
</div>