<div class="card horizontal">
    <div class="card-image hide-on-small-only">
        <img src="/assets/images/favicon.ico">
    </div>
    <div class="card-stacked">
        <div class="row">
            <h5 class="center">
                Seu pagamento está sendo processado assim que for confirmado sua assinatura será liberada. Não se preocupe você recebera uma notificação por email.
            </h5>
        </div>
        <div class="row">
            <a routerLink="/" class="btn waves-effect waves-light col s12 red darken-1">
              Voltar <i class="material-icons right">home</i>
          </a>
        </div>
    </div>
</div>